<div class="page" data-name="login">
    <div class="page-content">
        <section class="login_page">
            <div class="login_page_content">
                <div class="login_logo"></div>
                <section id="login_form" class="login_form">
                    <form autocomplete="on">
                        <div class="login_form_head">
                            Web Liveness Authentication
                        </div>
                        <div class="login_form_field"><input type="text" name="login" placeholder="Login"
                                autofocus="autofocus" class="login_input" value="a.aseev@ozforensics.com"></div>
                        <div class="login_form_field"><input type="password" name="password" placeholder="Password"
                                class="login_input" value="NLlVmdw"></div>
                        <div class="login_form_submit"><button type="submit" class="login_submit_button">
                                Submit
                            </button></div>
                        <!---->
                    </form>
                </section>
                <ul class="login_page_lang">
                    <li><label><input type="radio" value="en" checked>
                            English
                        </label></li>
                    <li><label><input type="radio" value="ru">
                            Русский
                        </label></li>
                </ul>
            </div>
        </section>
    </div>
</div>