<div class="page" data-name="main">
    <div class="page-content">
        <section id="action_page" class="action_page">
            <div class="demo_page_header">
                Demo
            </div>
            <div class="action_page_title">
                Choose a scenario:
            </div>
            <ul class="action_menu">
                <li class="action_menu_wrap_item">
                    <div class="action_menu_item" id='onboarding'>
                        <div class="action_menu_item_title _onboarding">
                            Onboarding
                        </div>
                        <div class="action_menu_item_text">
                            Client registration with document and selfie-video
                        </div>
                    </div>
                </li>
                <li class="action_menu_wrap_item">
                    <div class="action_menu_item">
                        <div class="action_menu_item_title _liveness">
                            Liveness
                        </div>
                        <div class="action_menu_item_text">
                            Liveness check using various user gestures
                        </div>
                    </div>
                    <ul class="action_submenu" style="display: none;">
                        <li data-action="video_selfie_blank" class="action_submenu_item">
                            Simple selfie
                        </li>
                        <!--li data-action="video_selfie_best" class="action_submenu_item">
                            Best shot
                        </li-->
                        <li data-action="video_selfie_smile" class="action_submenu_item">
                            Smile
                        </li>
                        <li data-action="video_selfie_eyes" class="action_submenu_item">
                            Eyes closed
                        </li>
                        <li data-action="video_selfie_zoom_in" class="action_submenu_item">
                            Zoom in
                        </li>
                        <li data-action="video_selfie_zoom_out" class="action_submenu_item">
                            Zoom out
                        </li>
                        <li data-action="video_selfie_scan" class="action_submenu_item">
                            Scan
                        </li>
                        <li data-action="video_selfie_high" class="action_submenu_item">
                            Tilt up
                        </li>
                        <li data-action="video_selfie_down" class="action_submenu_item">
                            Slope down
                        </li>
                        <li data-action="video_selfie_left" class="action_submenu_item">
                            Turn your head left
                        </li>
                        <li data-action="video_selfie_right" class="action_submenu_item">
                            Turn your head right
                        </li>
                    </ul>
                </li>
            </ul> <button class="demo_page_close"></button>
        </section>
    </div>
</div>