<div class="page" data-name="status">
    <div class="page-content">
        <div class="result_page_content">
            <div class="result_page_title">
                Process title
            </div>
            <ul class="result_analysis_list">
                <li><span class="result_icon _declined"></span> <span id="result">
                        Result
                    </span></li>
            </ul>
            <div class="result_page_wrap_button"><button class="custom_button">
                    Done
                </button></div>
        </div>
    </div>
</div>